[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="db.vasanthreddy.space"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=Backend

[Install]
WantedBy=multi-user.target